.ReactJSSimpleCarousel {
  box-sizing: border-box;
}

.ReactJSSimpleCarousel::before,
.ReactJSSimpleCarousel::after,
.ReactJSSimpleCarousel * {
  box-sizing: inherit;
}

.ReactJSSimpleCarousel__inner {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  overflow: hidden;
}

.ReactJSSimpleCarousel__itemsList {
  display: flex;
  outline: none;
}

.ReactJSSimpleCarousel__dotsNav {
  text-align: center;
  width: 100%;
}
